$var: #EEEEEE;

body {
  background: $var;
}

.container {
  background: red;
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

.App-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: center;
  width: 18%;
  height: 300px;
}