$var: #EEEEEE;

body {
  background: $var;
  font-family: verdana;
}

.container {
  width: 100%;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

.App-logo {
    position: absolute;
    top: 15%;
    right: 37.5%;
    left: 37.5%;
    width: 25%;
    display: block;
    margin: auto;
}

.div_next {
    float: left;
    margin: 4px;
}

.div_under {
    clear:both;
    margin: 5px;
}