$var: unquote('#EEEE');

body {
    background: $var;
    font-family: verdana;
    color: rgb(73, 67, 67);
    background-size: cover;
    min-height: 800px;
    @media (max-width: 992px) {
        min-height: 700px;
    }

}

.header img {
    background: transparent;
    display: block;
    margin: 0 auto;
    max-width: 30%;
    height: auto;
    width: auto\9;
  }
  
  .withdrawnShop {
      color: red;
  }
  
  .activeShop {
      color: green;
  }

.MapClass {
    width: 100px;
}

.map_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.About {
    text-align: center;
    padding: 1em;
    margin: 1em;
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 600px;
    height: auto;
    margin-top: auto;
}

.Map1 Input{
    position:relative;margin-top:.2rem;margin-left:0.75rem;
}

