$var: #EEEEEE;

body {
  background: $var;
}

.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

.App-logo {
  align-items: center;
    top: 10%;
    display: flex;
    flex-direction: column;
    margin: auto;
}