.EditProduct {
    text-align: left;
    padding: 1em;
    margin: 1em;
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 700px;
    margin-top: 50px;
}

.EditProduct Input:hover,
.EditProduct Input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.EditProduct Input {
    height: auto;
    border-radius: 2rem;
  }

  .EditProduct Categories {
      width: 700%;
  }
 