.btn_home {								
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-family: verdana;
    font-size: 16px;
    display: inline;
}

#eye {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-signin .card-img-left {
    width: 45%;
    background: url(/public/images/option10.png);
    background-size: cover;
  }

  .card-signin .card-body {
    padding: 2rem;
  }

  .register-form {
    width: 100%;
  }
  
  .register-form .btn{
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }