.btn_home {								
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    font-family: verdana;
    font-size: 16px;
    display: inline;
}

#eye {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

