.marker {
    color: white;
}


.search_input {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: auto;
    border-radius: 4px;
}


.icon {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.search_btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    
}

.range {
  -webkit-appearance: none;
  background: rgb(156, 137, 137);
  outline: none;
  height: 6px;
  width: 150px;
  border-radius: 5px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: rgb(73, 67, 67);
}
}

.price {
    color: rgb(73, 67, 67);
    border-radius: 2px;
    padding: 3px 7px;
    margin: 0px 10px;
    position: relative;
}
.ButtonDropdown-DropdwonToggle{
    color: rgb(73, 67, 67);
    background: white;
}
.addform {
    position:static;
}

.Search {
    text-align: left;
    padding: 1em;
    border: 1px solid #d3d3d3;
    vertical-align: middle;
    margin-top: 20px;
    background: white;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.Search button, .Search .input-group, .main-content {
    margin: 10px 0;
}