@import url('http://weloveiconfonts.com/api/?family=fontawesome');

[class*="fontawesome-"]:before {
    font-family: 'fontawesome', verdana;
}

.marker {
    color: white;
}

.search {
    position: absolute;
    top: 35%;
    display: block;
    margin: auto;
    font-family: verdana;
}

.search_input {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: auto;
    position: relative;
    border-radius: 4px;
}

.search_input button {
    position: absolute;
    right: 4%;
    top: 20%;
}

.icon {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.search_btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    
}

.homepage {
    top: 10px;
    left: 10px;
    background-repeat: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    display: inline;
    font-family: verdana;
    margin: 4px 2px;
    padding: 5px ;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
}

.range {
  -webkit-appearance: none;
  background: rgb(167, 4, 4);
  outline: none;
  height: 6px;
  width: 150px;
  border-radius: 5px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: black;
  }
}

.price {
    color: rgb(31, 2, 2);
  border-radius: 2px;
  padding: 3px 7px;
  margin: 0px 10px;
  position: relative;
}

.addform {
    position:static;
}

.Search {
    text-align: left;
    padding: 1em;
    margin: 1em;
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 20px;
}
