@import url('http://weloveiconfonts.com/api/?family=fontawesome');

[class*="fontawesome-"]:before {
    font-family: 'fontawesome', verdana;
}

.marker {
    color: white;
}

.map {
    display: block;
    margin: 2px 2px;
}

.search {
    position: absolute;
    top: 35%;
    display: block;
    margin: auto;
    font-family: verdana;
}

.search_input {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: auto;
    position: relative;
    border-radius: 4px;
}

.search_input button {
    position: absolute;
    right: 4%;
    top: 20%;
}

.icon {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.search_btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    
}

.homepage {
    top: 10px;
    left: 10px;
    background-repeat: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    display: inline;
    font-family: verdana;
    margin: 4px 2px;
    padding: 5px ;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
}

.range {
  -webkit-appearance: none;
  background: black;
  outline: none;
  height: 6px;
  width: 200px;
  border-radius: 5px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: black;
  }
}

.price {
  background: rgb(178, 0, 0);
  color: white;
  border-radius: 2px;
  padding: 3px 7px;
  margin: 0px 10px;
  text-align: center;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    height: 0;
    width: 0;
    border: solid 6px rgb(178, 0, 0);
    z-index: -1;
    border-top-color: Transparent;
    border-bottom-color: Transparent;
    border-left-color: Transparent;
  }
}

.addform {
    position:static;
}